/* Body */

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Container */

.container {
    flex: 1 0 auto;
}

/* Navbar */

.navbar {
    height: 5rem;
    background-color: white;
}

.navbar-brand .fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */

.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
}

.f-info-link a {
    text-decoration: none;
    color: #222222;
}

.f-info-link a:hover {
    text-decoration: underline;
}

.f-info-social i {
    font-size: 1.3rem;
    margin: 0 1rem;
    color: #222;
    transition: all 0.3s ease;
    cursor: pointer;
}

.f-info-social i:hover {
    color: #fe424d;
    transform: scale(1.2);
}

.f-info-social,
.f-info-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-link i {
    margin: 1rem;
}

/* Listing Cards */

.listing-card {
    border: none !important;
    width: 100%;
    margin-bottom: 2rem;
}

.card-img-top {
    width: 100% !important;
    height: 20rem;
    object-fit: cover !important;
    border-radius: 1rem !important;
}

.card-body {
    padding: 0 !important;
}

.listing-link {
    text-decoration: none;
    color: inherit;
}

.card-img-overlay {
    opacity: 0;
    transition: 0.3s;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* Show Page */

.show-img {
    height: 30vh;
}

.show-image {
    height: 30vh;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Buttons */

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.btns {
    display: flex !important;
}

/* Map */

#map {
    height: 400px;
    width: 80vh;
}